.TelaHomeContainer{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.TelaHomeBlocoCentral{
    background-color: #2444B5;
    min-width: fit-content;
    min-height: fit-content;
    width: 30vw;
    height: 60vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
